

<p-menubar [model]="items">
    <button pButton type="button" label="Iniciar Sesión" class="button m-2" (click)="goToLogin()" *ngIf='loged==false'></button>
    <button pButton type="button" label="Cerrar Sesión" class="button m-2" (click)="logOut()" *ngIf='loged==true'></button>
    <button pButton type="button" label="Iniciar Con Google" class="button m-2" (click)="googleLogin()"></button>
    <button pButton type="button" label="Cerrar Con Google" class="button m-2" (click)="googleLogOut()"></button>
</p-menubar>


