

.button{
    background-color: #292999;
    width: 100%;
}


.formulario{
    border-radius: 25px;
    box-shadow: 0.1em 0.1em 1em #3232b3;
    overflow: hidden;
    width:fit-content;
    align-items: center;
    padding: 2.5rem;
    margin: 5rem auto;
}

