
<div class="container_0">

    <div class="divHeader">
        <h1>Lista de Productos</h1>
        <button pButton class="button" (click)="showModal()" label="Agregar Producto"></button>
    </div>


    <div class="row">
        <ng-container *ngFor="let product of products;">
            <div class="card m-4 col-4" style="width: 18rem;">
                <img src="{{product.image}}" alt="" style="height: 20rem;">
                <div class="card-body">
                    <p class="card-title"><span class="cardText">Nombre:</span> {{product.name}}</p>
                    <p class="card-text"><span class="cardText">Descripcion:</span> {{product.description}}</p>
                    <p class="card-text"><span class="cardText">Precio:</span> {{product.price}}</p>
                    <p class="card-text"><span class="cardText">Tipo:</span> {{product.type}}</p>
                    <p class="card-text"><span class="cardText">Novedad:</span> {{product.news}}</p>
                    <p class="card-text"><span class="cardText">Remera:</span> {{product.tshirt}}</p>
                    <p class="card-text"><span class="cardText">Pantalon:</span> {{product.pant}}</p>
                    <p class="card-text"><span class="cardText">Zapatos:</span> {{product.shoe}}</p>
                    <p class="card-text"><span class="cardText">ID:</span> {{product.id}}</p>
                </div>
                <div class="card-footer">
                    <button pButton class="mb-2 mf-1 mr-1 button" (click)="showDelete(product)"  label="Eliminar Producto"></button>
                    <button pButton class="mb-2 mf-1 mr-1 button" (click)="showEdit(product)" label="Editar Producto"></button>
                </div>
            </div>
        </ng-container>
    </div>
    
    <p-dialog header="{{textButton}}" [(visible)]="modalVisible">
        <form [formGroup]="newProduct" class="formGroup">
            <img [src]="image" alt="No hay Imagen" style="width: 20rem;">
            <span class="p-float-label mt-4">
                <input id="float-input-lg" input="text" pInputText formControlName="name" class="input">
                <label for="float-input">Nombre</label>
            </span>
            <span class="p-float-label mt-4">
                <input id="float-input-lg" input="text" pInputText formControlName="description" class="input">
                <label for="float-input">Descripcion</label>
            </span>
            <span class="p-float-label mt-4">
                <input id="float-input-lg" input="text" pInputText formControlName="price" class="input">
                <label for="float-input">Precio</label>
            </span>
            <div class="p-field-checkbox mt-4 mb-4">
                <p-checkbox [(ngModel)]="checkedNews" [binary]="true" inputId="news" formControlName="news"></p-checkbox>
                <label for="news">Novedad</label>
            </div>
            <label for="float-input">Seleccione el Genero</label>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="checkedMale" value="male" inputId="male" formControlName="type" (click)="gender('male')"></p-checkbox>
                <label for="male">Hombre</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="checkedFemale" value="female" inputId="female" formControlName="type" (click)="gender('female')"></p-checkbox>
                <label for="female">Mujer</label>
            </div>
            <div class="p-field-checkbox mb-4">
                <p-checkbox [(ngModel)]="checkedKids" value="kids" inputId="kids" formControlName="type" (click)="gender('kids')"></p-checkbox>
                <label for="kids">Infantil</label>
            </div>
            <label for="float-input mt-4">Seleccione el Tipo</label>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="checkedTshirt" [binary]="true" inputId="tshirt" formControlName="tshirt" (click)="prueba('tshirt')"></p-checkbox>
                <label for="tshirt">Remera</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="checkedPant" [binary]="true" inputId="pant" formControlName="pant" (click)="prueba('pant')"></p-checkbox>
                <label for="pant">Pantalon</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="checkedShoe" [binary]="true" inputId="shoe" formControlName="shoe" (click)="prueba('shoe')"></p-checkbox>
                <label for="shoe">Zapatos</label>
            </div>
            <span class="p-float-label mt-3 mb-3">
                <input type="file" accept="image/*" (change)="loadImage($event)">
            </span>
            <button pButton class="button" (click)="addProduct()" label="{{textButton}}" *ngIf="addVisible"></button>
            <button pButton class="button" (click)="updateProduct()" label="Actualizar Producto" *ngIf="editVisible"></button>
        </form>
    </p-dialog>

    <p-dialog [(visible)]="deleteVisible" [style]="{width: '50vw'}" class="dialog_0">
        <form [formGroup]="newProduct">
            <span class="p-float-label mb-2">
                <h2>Desea Eliminar el Producto</h2>
            </span>
            <button pButton class="button mb-2" (click)="deleteProduct()" (click)="showConfirm()" label="Eliminar Producto"></button>
            <button pButton class="button" (click)="showConfirm()" label='Cancelar'></button>
        </form>
    </p-dialog>
</div>
